@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-font-size: calc((0.2/16)*100vw);
  --default-font: 'Poppins', sans-serif;
  --default-side-padding: 3em;
  --default-tag-padding: 0.25em .5em;
  --default-button-padding: 0.5em 1em;
  --default-button-border-radius: 0.3em;
  --default-ratio-height-size: calc(calc(7.8/16) * 100%);
  --default-letter-spacing: -.025em;
  --default-float-right-width: 20em;
  --default-link-like-color: deepskyblue;

  font-size: var(--default-font-size);
  font-weight: 300;
  box-sizing: border-box;
  letter-spacing: var(--default-letter-spacing);
  color: white;
}

/* to fix 3rd party CSS framework box-sizing */
*,
::before,
::after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font);
  background-color: black;
}

@keyframes header-scroll-down-color-animation {
  0% {background-color: "";}
  100% {background-color: black;}
}

@keyframes header-scroll-up-color-animation {
  0% {background-color: black;}
  100% {background-color: "";}
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
}


header {
  position: sticky;
  top: 0;
  font-size: 0.875em;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 90%
  );
  padding: 0.75em var(--default-side-padding);
  z-index: 1;
}

.header-color-unpinned {
  animation: header-scroll-up-color-animation 1s;
  animation-fill-mode: forwards;
}

.header-color-pinned {
  animation: header-scroll-down-color-animation 0.5s;
  animation-fill-mode: forwards;
}

header > a > img {
  height: 3em;
  margin-right: 2em;
}

header > * {
  font-weight: 600;
}

.site-nav {
  display: flex;
  padding: .5em;
  list-style-type: none;
  margin: 0;
}

.site-nav > li {
  margin-top: 0;
}

.site-nav > li > a {
  display: block;
  padding: var(--default-button-padding);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  font-size: var(--default-font-size);
}

.input-search{
  height: 2.5em;
  width: 2.5em;
  border-style: none;
  font-size: 1em;
  outline: none;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  background-color: rgba(0,0,0,0);
  padding-right: 2.5em;
  color:#fff;
}

.input-search::placeholder{
  color:rgba(255,255,255,0.7);
  font-size: 0.875em;
  font-weight: 100;
}

.btn-search{
  width: 2.5em;
  height: 2.5em;
  border-style: none;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
  width: 20em;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
  width: 20em;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: black;
  font-size: var(--default-font-size);
  white-space: pre-wrap;
}

.featured {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--default-ratio-height-size);
  height: 0;
  overflow: hidden;
  margin-bottom: calc(var(--default-font-size) * -4);
}

.featured-background {
  /* z-index: 0; */
  flex: 1;
  object-fit: cover;
  max-width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.featured-body {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  padding: calc(var(--default-font-size) * 10) var(--default-side-padding);
  padding-right: 50vw;
  height: 100%;
  width: 100%;
  color: white;
}

.featured-body > * {
  margin: 0;
  padding: 0;
}

.featured-body > * + *{
  margin-top: var(--default-font-size);
}

.featured-body > a {
  display: block;
  width: fit-content;
  padding: var(--default-button-padding);
  background-color: white;
  font-size: 1.1em;
  font-weight: 700;
  color: black;
  text-decoration: none;
  border: 0;
  border-radius: var(--default-button-border-radius);
  cursor: pointer;
  margin-top: 1.5em;
}

.featured-body > h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-info-icon {
  color: black;
  margin: 0 0.5em 0 0;
  font-size: 0.9em;
}

.featured-bottom-border {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 5em;
  width: 100%;
}

.content-home {
  position: relative;
  z-index: 10;
  /* margin-top: calc(var(--default-font-size) * -5); */
  /* background-color: rgba(50,220,50,0.5); */
  color: white;
  padding: 0 var(--default-side-padding) 4em;
}

.content-item > h3 {
  margin-bottom: 0.2em;
  font-size: 1.5em;
}

.wrapper {
  position: relative;
}

.wrapper .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.5);
  width: var(--default-side-padding);
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: 0.1s;
}

.wrapper .slider:first-child {
  left: calc(var(--default-side-padding) * -1);
}

.wrapper .slider:last-child {
  right: calc(var(--default-side-padding) * -1);
}

.wrapper .slider:hover i{
  font-size: 2em;
  transition: 0.1s;
}

.wrapper .carousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  line-height: 0;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel > * {
  padding: 0;
  padding-right: 0.2em;
  margin: 0;
}

.carousel img {
  width: calc((100% / 7));
  /* Aspect Ratio is A6, 10.5cm x 14.8cm or 4.1" x 5.8", taken from normal light novel size */
  aspect-ratio: 10.5/14.8;
  /* object-fit: cover; */
}

.carousel-title {
  background: blue;
}

.anime-preview {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  padding: 2em 1em;
  white-space: pre-wrap;
}

.anime-preview.open {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.anime-preview.closed {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.anime-preview-body{
  position: relative;
  z-index: 0;
  background-color: black;
  border-radius: var(--default-font-size);
  max-width: 1440px; /* Add this line to limit the maximum width */
  margin: 0 auto; 
}

.anime-preview-body.open {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.anime-preview-body.closed {
  transform: scale(0%);
  transition: transform 0.3s ease-in-out;
}


.anime-preview-body > * {
  border-radius: var(--default-font-size);
}

.anime-preview-content{
  position: relative;
  padding: 5em var(--default-side-padding);
}

.anime-preview-content * {
  margin: .25em 0;
}

.close-btn-wrapper {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
  margin: 1em;
  cursor: pointer;
}

.close-btn-circle {
  display:flex;
  background-color: rgba(0,0,0,0.7);
  border-radius: 50%;
  width:0;
  height:0;
  padding: 1.3em;
  justify-content: center;
  align-items: center;
}

.close-btn {
  font-size: 1.3em;
  color: white;
}

.content {
  /* background-color: rgba(50,220,50,0.5); */
  color: white;
  padding: 4em var(--default-side-padding);
}

.anime-page-grid {
  display: grid;
  grid-template-columns: 1fr var(--default-float-right-width);
  column-gap: var(--default-side-padding);
}

.anime-info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* border: 1px solid white; */
  color: white;
  width: var(--default-float-right-width);
  background-color: rgba(255,255,255,0.1);
}

.anime-info > img {
  width: 100%;
  object-fit: cover;
}

.anime-info > * + * {
  margin-top: 1em;
}

.anime-info-grid {
  display: grid;
  grid-template-columns: 6em 9.5em;
  grid-auto-rows: minmax(0.5em, auto);
  grid-gap: 0.5em;
}

.anime-info-grid > * {
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.8em;
}

.anime-info-grid > p + h2 {
  margin-top: 1.5em;
}

.grid-subtitle {
  grid-column: 1 / -1;
}

.content h2 {
  margin-bottom: 0;
}

iframe.trailer {
  width: 100%;
  aspect-ratio: 16/9;
}

.relation {
  font-weight: 700;
}

.relation-entry {
  font-weight: initial;
  color: var(--default-link-like-color);
  text-decoration: none;
  cursor: pointer;
}

.character-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(0.5em, auto);
  grid-gap: 2em;
}

.character-grid > div:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
}

.character-grid-item {
  width: 100%;
  /* border: 1px solid white; */
}

.character-grid-item > img {
  width: 5em;
  object-fit: cover;
}

.character-text {
  width: 100%;
  padding: 0 1em;
  font-size: 0.7em;
  justify-content: space-between;
}

.character-info {
  align-self: flex-start;
}

.voice-actor-info {
  align-self: flex-end;
  text-align: end;
}

.character-info p:first-child, .voice-actor-info p:first-child {
  font-weight: 700;
  font-size: 1.1em;
}

.character-info p, .voice-actor-info p {
  margin: .2em;
  padding: 0;
}

/* Standalone CSS */

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
}

.flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
}

.flex-m > * + * {
  margin-left: .5em;
}

.flex-m > *:last-child {
  margin-right: auto;
}

.column {
  flex-direction: column;
}

.column > * {
  margin-top: 0;
  margin-bottom: 0;
}

.vertical-center{
  align-items: center;
}

.horizontal-right {
  text-align:right;
  justify-self: end;
  margin-left: auto;
  margin-right: 0 !important;
}

.horizontal-left {
  justify-self: start;
}

.space-between {
  justify-content: space-between;
}

.show-more {
  text-align: right;
  font-weight: 700;
  color: var(--default-link-like-color);
  cursor: pointer;
}

.disable {
  text-decoration: none;
  color: white;
  pointer-events: none;
  cursor: auto
}

.review > * {
  font-weight: 500;
  margin-bottom: 0;
}

.tags {
  display: block;
  width: fit-content;
  padding: var(--default-tag-padding);
  background-color: #2f2f2f;
  font-weight: 500;
  border: 0;
  border-radius: var(--default-button-border-radius);
  height:max-content;
}

.tags.not-recommended, .tags.not-yet-aired  {
  background-color: maroon;
}

.tags.currently-airing {
  background-color: tomato;
}

.tags.recommended, .tags.finished-airing{
  background-color: seagreen;
}


@media (min-width: 1441px) {
  /* Restrict maximum font size and adjust layout for screens wider than 1080px */

  :root {
    --default-font-size: calc((0.2/16)*1440px); /* Set a maximum font size for wider screens */
  }

  .featured-body {
    padding-right: calc(50% + (100% - 1441px) * 0.5); /* Adjust padding for wider screens */
  }

  .content {
    max-width: 1440px;
    margin: auto;
  }
}